faiss_cpu==1.9.0
fastapi==0.115.3
fitz==0.0.1.dev2
langchain==0.3.4
langchain_community==0.3.3
langchain_core==0.3.12
langdetect==1.0.9
langgraph==0.2.39
numpy==2.1.2
nvidia_ml_py==12.560.30
opencv_python==4.10.0.84
Pillow==11.0.0
psutil==6.0.0
pydantic==2.9.2
pytesseract==0.3.13
pytest==8.3.3
pytest_asyncio==0.24.0
python_docx==1.1.2
Requests==2.32.3
sentence_transformers==3.2.0
streamlit==1.39.0
torch==2.4.1+cu121
transformers==4.45.2
typing_extensions==4.12.2
